* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 200px solid rgb(243, 6, 6);
    border-right: 200px solid rgb(243, 6, 6);

}

.name {
    text-align: center;
    font-size: 6px;
    padding: 20%;
    color: rgb(0, 0, 0);
    /* border: 50px solid black;*/
}

table,
th,
td {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border: 20px solid rgb(0, 0, 0);
    font-size: 20px;
}
td,iframe{
    height: 100%;
    width: 100%;
}

thead {
    background-color: crimson;
}

table,img {
    height: auto;
    width: 100%;
}

.a-link a {
    width: 100%;
    font-size: 50px; 
}

a:link,
a:visited {
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}

.link1 {
    font-size: 100%;

}

.link2 {
    font-size: 100%;
}

.footer {
    text-align: center;
    text-shadow: 3px 2px red;
    font-size: 50px;
    background-color: black;
}

@media only screen and (max-width: 1200px) {
    body {
        border-color: rgb(238, 14, 14);
        border-left: 200px solid rgb(238, 14, 14);
        border-right: 200px solid rgb(238, 14, 14);
    }

    .name {
        text-align: center;
        font-size: 60px;
        background-color: white;
        color: black;
        border: 50px solid black;
    }
}


@media only screen and (max-width: 890px) {
    body {
        border-color:  rgb(165, 5, 5);
        border-left: 50px solid rgb(165, 5, 5);
        border-right: 50px solid rgb(165, 5, 5);
    }

    th,td {
        border: 5px solid rgb(0, 0, 0);
        font-size: 20px;
    }

    .name {
        text-align: center;
        font-size: 60px;
        background-color: black;
        color: white;
        border: 50px solid white;
    }
}

@media only screen and (max-width: 580px) {
    body {
        border-color:  rgb(165, 5, 5);
        border-left: 10px solid rgb(165, 5, 5);
        border-right: 10px solid rgb(165, 5, 5);
    }
    table ,th,td{
        font-size: 12px;
    }

    .a-link a {
        width: 100%;
        font-size: 30px; 
    }

}



/*    body {
        border: 0px;
    }
    table,
    th,
    td {
        table-layout: fixed;
        width: 100%;
        text-align: center;
        border: 0px solid rgb(0, 0, 0);
        font-size: auto;
    }

    

    .name {
        text-align: center;
        font-size: 60px;
        background-color: white;
        color: black;
        border: 50px solid black;
    }*/
