* {
  box-sizing: border-box;
  
}

body {
  margin :0;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 200px solid rgb(243, 6, 6);
  border-right: 200px solid rgb(243, 6, 6);

}

.name {
  text-align: center;
  font-size:6px;
  padding:20%;  color: rgb(0, 0, 0);
 /* border: 50px solid black;*/
}

table, th, td {
  table-layout: fixed;
  width: 100%;  
  text-align: center;
  border: 20px solid rgb(0, 0, 0);
  font-size:20px;
}

thead{
  background-color: crimson; 
}

table, img {
  /*float:right;*/
  height:50%;
  weight:50%;
}

a:link, a:visited {
  background-color:black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

.link1{
  font-size:58px; 
  
}
.link2{
  font-size:60px;
}

.footer{
  text-align: center;
  text-shadow: 3px 2px red;
  font-size: 50px;
  background-color: black;
}


@media only screen and (min-width: 400px) {
  body{
    border-color: rgb(0, 0, 0);
    border-left: 50px solid rgba(0, 0, 0);
    border-right:  50px solid rgb(0,0, 0);
  }
  .name {
    text-align: center;
    font-size:60px;
    background-color: white;
    color: black;
    border: 50px solid black;
  }
}

@media only screen and (min-width: 800px) {
  body{
    border-color: rgb(133, 10, 10);
    border-left: 200px solid rgb(133, 10, 10);
    border-right: 200px solid rgb(133, 10, 10);
  }
  .name {
    text-align: center;
    font-size:60px;
    background-color: black;
    color: white;
    border: 50px solid white;
  }
}


@media only screen and (min-width: 1200px) {
  body{
    border-color: rgb(238, 14, 14);
    border-left: 200px solid rgb(238, 14, 14);
    border-right: 200px solid rgb(238, 14, 14);
  }
    .name {
      text-align: center;
      font-size:60px;
      background-color: white;
      color: black;
      border: 50px solid black;
    }
}
