
.Wang-head
{
    width: 100px;
    background-image: url("http://www.csie.tku.edu.tw/files/users/pic/cache.28_982b8b5d.jpg.w90_h120.jpg");
}

.curtain1{
    z-index: 1;
    width:100px;
    height:100px; 
    animation:curtain-open;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.curtain2{
    z-index: 1;
    float:right;
    width:100px;
    height:100px;
    animation:curtain-open;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes curtain-open{
    from{
        width:50%;
    }25%{
        width:50%;
    }50%{
        width:5%;
    }75%{
        width:5%;
    }to{
        width:50%;
    }
}
