* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: aqua;
}

.header {
    height: 100vh;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.header .roof {
    display: flow-root;
    width: 100%;
    height: 40%;
}

.header .top_floor {
    width: 100%;
    height: 60%;
}

.roof img {
    height: 100%;
    width: 100%;
}





.roof .curtain {
    z-index: 2;
    position: relative;
    display:flow-root;
    left: 35.3%;
    bottom: 42%;
    width: 32%;
    height: 22.5%;
    margin: 0;
}


.curtain .curtain1 {
    width: 50%;
    height: 100%;
    animation: curtain-open;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.curtain .curtain2 {
    float: right;
    width: 50%;
    height: 100%;
    animation: curtain-open;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}





.top_floor {
    color: #ffffff;
    width: 100%;
    height: 60%;
    background-color: black;
    border-radius: 8px;
    display: flex;
}




.top_floor .main {
    overflow: hidden;
    flex: 3;
    flex-direction: column;
    text-align: center;
}
  


 .main div{
    padding: 10% 0;
    z-index: 999;
    position: relative;
    bottom: 100%;
    height: 33.33%;
    width: 100%;
    font-size: 200%; 
}  


.main img{
    width: 100%;
    height: 100%;
}


.aside {
    flex: 1;
    background: brown;

}

.aside .container {
    z-index: 999;
    position: relative;
    bottom: 70%;
    height: 40%;
    width: 100%;
}




/*變成按鈕*/


.container button {
    height: 100%;
    width: 100%;
}

button img {
    width: 100%;
    height: 100%;
}

/*變成按鈕*/




.aside .background {
    z-index: 6;
    position: relative;
    height: 100%;
    width: 100%;
}



.floor {
    height: 100vh;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.floor .background {
    height: 100%;
    width: 100%;
}


/*我加的東西*/
#Gotop{
    position: fixed;
    bottom: 0;
    right: 5%;
    font-size: 30px;
}




.footer{
    height: 100vh;
    width: auto;
    display: flex;
}

.footer .background{
    flex: 1;
}
.footer .main{
    flex:4.62;
}


.background img{
    height: 100%;
    width: 100%;
}

@keyframes curtain-open {
    from {
        width: 50%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 5%;
    }

    75% {
        width: 5%;
    }

    to {
        width: 50%;
    }
}

.content{
    position: absolute;
    z-index: 2;
    width: 55%;
    height: 80%;
}

#basic_information{
    top: 110vh;
    left: 22vw;
}

#basic_information table{
    text-align: center;
    width: 27vw;
}

.topic{    
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    
}

#edback{
    width: 27vw;
    height: 25vh;
    float: left;
}
#goodat{
    float: left;
    width: 27vw;
    height: 25vh;
}
#title{
    clear: both;
    width: 27vw;
    height: 40vh;
    float: left;
}
#schooltable{
    width: 27vw;
    height: 40vh;
    float: left;
}

#teach{
    top: 211vh;
    left: 22vw;
    height: 80vh;
    width: 53.5vw;
}

#paper{
    top: 311vh;
    left: 22vw;
}
#paperone{
    width: 100%;
    height: 58vh;
}

#papertwo{
    width: 100%;
}


#study{
    top: 425vh;
    left: 22vw;
    width: 55vw;
    height: 58vh;
}

#student{
    top: 515vh;
    left: 22vw;
    width: 55vw;
    height: 59vh;
}


@media only screen and (max-width: 480px){
    .floor ,.header {
        margin: 0;
    }
    .footer .background{
        display: none;
    }
    body{
        font-size: 12px;
    }
    .topic{
        font-size: 15px;
    }
    /* .content{
        height: 80vh;
        width: 80vw;
        left: 10%;
    } */

    #basic_information{
        height: 80vh;
        width: 80vw;
        left: 10%;
    } 
    #teach{
        height: 80vh;
        width: 80vw;
        left: 10%;
    }

    #more{
        display: none;
    }


    #paperone{
        text-align: center;
        height: 10vh;
    }

    #paper{
        
        height: 80vh;
        width: 80vw;
        left: 5%;
    }
    
    .mybtn{
        position:absolute;
        height: 200vh;
    }

    #study{
        height: 80vh;
        width: 80vw;
        left: 10%;
    }
     
    #student{
        height: 80vh;
        width: 80vw;
        left: 10%;
    }
    
}